* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    width: 15%;
    height: 400px;
    background-color: #fff;
}

@media (max-width: 780px) {
div.sidebar {
    display: none;
}
}