* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.first {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
}

div.img-l {
    max-width: 50%;
    margin: 10px auto 20px auto;
    height: 60px; 
}

div.img-l img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.first img {
    margin-top: 20px;
}
.second {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../bg.png");
    background-size: cover; 
    background-position: center;
    width: 60%;
}
.second1 {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    height: 70vh;
    background-image: url("../hero-image.svg");
    background-size: cover; 
    background-position: center;
}
.err-mes {
    text-align: center;
    font-size: 20px;
    color: red;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 400;
    font-family: 'Sora', sans-serif;
}
/* p.err-mes:not(:has(.content)) {
    display: none;
} */
p.success-mes {
    text-align: center;
    color: greenyellow;
    margin-top: 8px;
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 400;
    font-family: 'Sora', sans-serif;
}
/* p.success-mes:not(:has(.content)) {
    display: none;
} */
.form {
    width: 80%;
    margin: 10px auto;
}

.form-h {
    margin-bottom: 20px;
    color: #3F78E0;
    font-weight: 600;
    font-family: 'Sora', sans-serif;
}
.form-3 {
    text-align: center;
    letter-spacing: 0px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.chose {
    width: 99%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.form-p {
    text-align: center;
    color: #3F78E0;
    margin-bottom: 20px;
    font-weight: 200;
    font-family: 'Sora', sans-serif;
}
.form-head {
    text-align: center;
    font-size: 18px;
    color: #3F78E0;
    margin-bottom: 20px;
    font-weight: 200;
    font-family: 'Sora', sans-serif;
}
h2.form-hh {
    margin-top: 60px;
    font-weight: 500;
    line-height: normal;
}
div.chose img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
.c-p {
    margin-top: 12px;
    color: #3F78E0;
    text-align: center;
    font-weight: 500;
}
.cam {
    display: flex;
    flex-direction: column;
}
.form-a {
    text-align: center;
    margin-bottom: 2px;
    font-weight: 200;
    font-family: 'Sora', sans-serif;
}

h3.form-inst {
    font-size: 18px;
    padding-top: 20px;
    padding-left: 10px;
}

.inp {
    margin-bottom: 17px;
    font-size: 16px;
    color: #3F78E0;
    font-family: 'Sora', sans-serif;
    outline: none;
}

.inpu {
    width: 100%;
    border-top: 1px solid #3F78E0;
    border-right: 1px solid #3F78E0;
    border-left: 1px solid #3F78E0;
    color: #3F78E0;
    padding: 4px;
    border-bottom: 1px solid #3F78E0;
    margin-bottom: 25px;
    border-radius: 5px;
}

.inpu:focus {
    outline: none;
}

.inpu::content {
    color: #3F78E0;
}
.inpu::placeholder {
    color: #3F78E0;
}
.form-b {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
    background-color: #3F78E0;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

.form-c {
    width: 100%;
    margin: 30px auto 5px auto;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
    background-color: #3F78E0;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
}
button.form-f {
    margin-top: 2px;
}
input.inpu-f {
    margin-top: 15px;
    margin-bottom: 0px;
}

.lin {
    color: #9C80F9;
}
.navbar {
    width: 100%;
    margin: 0px auto 0px auto;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #fff;
    height: 10px;
}
.navbar {
    background-color: #3F78E0;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    position: relative;
    left: 70%;
}
hr {
    border: 1px solid #3F78E0;
    margin-top: -1px !important;
}



@media (max-width: 780px) {
    .first {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 12px;
    }
    .second {
        display: none;
    }
    .navbar a.right {
        position: relative;
        left: 25%;
    }
}