* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.first {
    padding: 12px;
}

div.img-l {
    max-width: 50%;
    margin: 80px auto 20px auto;
    height: 60px; 
}

div.img-l img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.first img {
    margin-top: 20px;
}

.second {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../../static/bg.png");
    background-size: cover; 
    background-position: center;
}
.err-mes {
    text-align: center;
    color: red;
    margin-bottom: 20px;
    font-weight: 200;
    font-family: 'Sora', sans-serif;
}
.err-mes:not(:has(.content)) {
    display: none;
}
.success-mes {
    text-align: center;
    color: greenyellow;
    margin-bottom: 20px;
    font-weight: 200;
    font-family: 'Sora', sans-serif;
}
.success-mes:not(:has(.content)) {
    display: none;
}
.form {
    width: 80%;
    margin: 10px auto;
}

.form-h {
    margin-bottom: 20px;
    color: #3F78E0;
    font-weight: 600;
    font-family: 'Sora', sans-serif;
}
.form-3 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.chose {
    width: 99%;
    margin-top: 20px;
    margin-left: auto;
    margin-left: auto;
}
.form-p {
    text-align: center;
    color: #3F78E0;
    margin-bottom: 20px;
    font-weight: 200;
    font-family: 'Sora', sans-serif;
}
.form-head {
    text-align: center;
    font-size: 18px;
    color: #3F78E0;
    margin-bottom: 20px;
    font-weight: 200;
    font-family: 'Sora', sans-serif;
}
div.chose img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
.c-p {
    margin-top: 12px;
    color: #3F78E0;
    text-align: center;
}
.cam {
    display: flex;
    flex-direction: column;
}
.form-a {
    text-align: center;
    margin-bottom: 2px;
    font-weight: 200;
    font-family: 'Sora', sans-serif;
}

.inp {
    margin-bottom: 17px;
    font-size: 16px;
    color: #3F78E0;
    font-family: 'Sora', sans-serif;
    outline: none;
}

.inpu {
    width: 100%;
    border-top: 1px solid #3F78E0;
    border-right: 1px solid #3F78E0;
    border-left: 1px solid #3F78E0;
    color: #3F78E0;
    padding: 4px;
    border-bottom: 1px solid #3F78E0;
    margin-bottom: 25px;
    border-radius: 5px;
}

.inpu:focus {
    outline: none;
}

.inpu::content {
    color: #3F78E0;
}
.inpu::placeholder {
    color: #3F78E0;
}
.form-b {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
    background-color: #3F78E0;
    ;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

.form-c {
    width: 100%;
    margin: 30px auto 5px auto;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
    background-color: #3F78E0;
    ;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

.lin {
    color: #9C80F9;
}



@media (max-width: 780px) {
    .second {
        display: none;
    }
}